.c-gallery {
  justify-content: space-between;

  &__character {
    margin: 0;
    text-align: center;
  }

  &__image {
    align-self: center;
    margin-top: 30px;
    border-radius: 50%;
    border: solid 5px var(--color-primary);
    width: 80%;
  }

  &__title {
    margin-right: 10px;
  }

  &__link {
    text-decoration: none;
    color: var(--color-primary);

    &:hover {
      color: var(--color-primary-active);
    }
  }
}
