<div class="c-gallery d-flex justify-content-between flex-wrap">

    <figure class="c-gallery__character d-flex justify-content-center flex-column col-12"
        [ngClass]="{'col-md-6 col-lg-3': routerLinkStr !== '/episodes/' && routerLinkStr !== '/locations/'}"
        *ngFor="let item of galleryItems">
        <a class="c-gallery__link" routerLink="{{routerLinkStr}}{{item.id}}">
            <img *ngIf="item.image" class="c-gallery__image" src="{{item.image}}" alt="{{item.name}}">
            <figcaption class="d-flex justify-content-center">
                <h2 *ngIf="routerLinkStr === '/episodes/'" class="c-gallery__title">{{item.id}} - </h2>
                <h2>{{item.name | markText: "Rick"}}</h2>
            </figcaption>
        </a>
    </figure>
</div>