.c-header {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    text-align: center;
    font-family: "rick";
    font-size: 90px;
    color: var(--color-primary-active);
    text-shadow: 3px 4px 2px var(--color-shadow-blue);
  }

  &__img {
    width: 250px;
    margin: auto;

    @media (min-width: 576px) {
      width: 400px;
    }

    @media (min-width: 813px) {
      width: 600px;
    }
  }
}

.c-nav {
  margin: 0 50px;

  &__link {
    margin: 0 5px;
    font-size: 18px;
    text-decoration: none;
    color: var(--color-primary);
    border: solid var(--color-primary);
    border-radius: 12px;
    padding: 8px;

    @media (min-width: 813px) {
      font-size: 24px;
      border-radius: 15px;
      padding: 10px;
      margin: 0 10px;
    }

    &:hover {
      border: dotted;
      border-color: var(--color-primary-active);
      color: var(--color-primary-active);
    }
  }
}
