<header class="c-header">

    <h1 class="c-header__title">Rick and Morty</h1>

    <nav class="c-nav">
        <a class="c-nav__link" [routerLink]="['/']" routerLinkActiveOptions="{ exact: true } ">Home</a>
        <a class="c-nav__link" [routerLink]="['/characters']" routerLinkActiveOptions="{ exact: true }">Characters</a>
        <a class="c-nav__link" [routerLink]="['/locations']" routerLinkActiveOptions="{ exact: true }">Locations</a>
        <a class="c-nav__link" [routerLink]="['/contact']" routerLinkActiveOptions="{ exact: true }">Contact</a>
    </nav>
</header>