.c-header {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    text-align: center;
    font-size: 42px;
    color: var(--color-primary);
  }
}

.c-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    margin: 0 30px;
    font-size: 32px;
    text-decoration: none;
    color: var(--color-primary);
    border: solid var(--color-primary);
    border-radius: 15px;
    padding: 10px;

    &:hover {
      border: dotted;
      border-color: var(--color-primary-active);
      color: var(--color-primary-active);
    }
  }
}
